Makefile
/Makefile.am
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
*.pot
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
Makefile.am.common
*.ami
*.bz2
.dep
tmp.*
*.log
ar-lib
compile
config.h.in~
py-compile
src/.deps/
src/.libs/
src/YCPMap.h
*.la
*.lo
src/yast-core_wrap.cxx
src/ycp.py
src/yast.py
doc/*.html
*.pyc
